#buttonz
{
	width: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align:center;
}
#header
{
  font-weight: bold;
  font-size: 35px;
  /*font-style: italic;*/
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  
  border-collapse: collapse;
}

#calender, #timePeriod, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday
{
  border: 1px solid black;          /* Creates a solid border line */
}

#timePeriod
{
  width: 6%;
}

#calender
{
  width: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align:center;
}

#calender td, #calender th {
  border: 1px solid #ddd;
  padding: 8px;
}

#calender tr:nth-child(even){
	background-color: #f2f2f2;
}

#calender tr:hover {
	background-color: #ddd;
}

#calender th {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9370DB;
  color: white;
  text-align:center;
}
.cell
{
    border: 1px solid black;          /* Creates a solid border line */
	width: 6%;
}
footer
{
	position: absolute;
    bottom: 0;
}
button
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 1px solid #E8E8E8; 
  padding: 10px 24px; /* Some padding */
  cursor: pointer;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
  text-align:center;
}

button:hover {
  background-color: #E8E8E8;
}
